.container {
width: 200px;
height: 250px;
border: 2px solid black;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}